#section-servicos {
	padding-top: 50px;
}

.content-servicos {
	display: flex;
	flex-wrap: wrap;
}

.content-servicos > div + div {
	margin-top: 50px;
}

.div-line {
	width: 80px;
	height: 4px;
	margin-bottom: 20px;
	background-color: #12362F;
	border-radius: 25px;
}

.title-servico {
	width: 100%;
	font-size: 1.525em;
	font-weight: bold;
	color: #12362F;
	margin-bottom: 5px;
}

.list-item-servico > li {
	margin-left: 30px;
	list-style: initial;
}

.list-item-servico > li + li {
	margin-top: 10px;
}